<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>CreationDate</key>
	<string>2017-05-09 18:52:49 +0000</string>
	<key>Creator</key>
	<string>Anthony Anjorin</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>ImageCounter</key>
	<integer>50</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image49.pdf</string>
		<string>image44.tiff</string>
		<string>image43.tiff</string>
		<string>image42.tiff</string>
		<string>image41.png</string>
		<string>image40.tiff</string>
		<string>image39.tiff</string>
		<string>image2.jpeg</string>
	</array>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2017-08-28 12:14:35 +0000</string>
	<key>Modifier</key>
	<string>Anthony Anjorin</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595, 842}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>Sheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {1118, 1566}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>BaseZoom</key>
			<integer>0</integer>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{354.93491276798062, 1129.4832237259773}, {12.005765457058391, 10.864433276970786}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>52044</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{354.56408790582293, 1038.3581092819134}, {12.005765457058391, 12.005765490722421}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>52045</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{354.31509399414131, 949.73577880859443}, {12.005765457058391, 10.864433276970786}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>52046</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>52066</integer>
						<key>Position</key>
						<real>0.48226949572563171</real>
					</dict>
					<key>ID</key>
					<integer>52047</integer>
					<key>Points</key>
					<array>
						<string>{417.47938983165528, 1028.7509472025381}</string>
						<string>{417.34130446462643, 1043.8020925638771}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>Pattern</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>52050</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>52050</integer>
					</dict>
					<key>ID</key>
					<integer>52048</integer>
					<key>Points</key>
					<array>
						<string>{471.26554107666072, 991.42740602760409}</string>
						<string>{457.62952805219828, 977.79139296490666}</string>
						<string>{429.1178644555938, 979.03103051606047}</string>
						<string>{424.70470996852458, 990.95847510915166}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>Pattern</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>52050</integer>
					</dict>
					<key>ID</key>
					<integer>52049</integer>
					<key>Points</key>
					<array>
						<string>{360.008071172521, 996.26199955928598}</string>
						<string>{379.5323625484566, 978.41121174048294}</string>
						<string>{404.94493227586435, 977.79139296490609}</string>
						<string>{410.13728859482831, 990.96224805481893}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>Pattern</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>52052</integer>
						<key>Position</key>
						<real>0.47272738814353943</real>
					</dict>
				</dict>
				<dict>
					<key>AbsoluteRotation</key>
					<string>YES</string>
					<key>Bounds</key>
					<string>{{399.05665387225292, 1000.4147783004121}, {37.189126534631015, 19.21438198901577}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>52050</integer>
					<key>Rotation</key>
					<real>90</real>
					<key>Shape</key>
					<string>AdjustableArrow</string>
					<key>ShapeData</key>
					<dict>
						<key>ratio</key>
						<real>1</real>
						<key>width</key>
						<real>21</real>
					</dict>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>52051</integer>
					<key>Points</key>
					<array>
						<string>{368.37562461935056, 953.61846071739672}</string>
						<string>{462.58807824291182, 953.61846071739672}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>StickArrow</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>52052</integer>
					<key>Points</key>
					<array>
						<string>{360.008071172521, 967.25447378009369}</string>
						<string>{360.008071172521, 1028.6165325622355}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>52057</integer>
					</dict>
					<key>ID</key>
					<integer>52053</integer>
					<key>Points</key>
					<array>
						<string>{417.34130458469349, 1134.6055431859345}</string>
						<string>{396.26746944211521, 1143.5929248894859}</string>
						<string>{395.6476506682759, 1154.4397534620866}</string>
						<string>{399.96584030072376, 1161.049221129505}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>Pattern</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>52065</integer>
						<key>Position</key>
						<real>0.49809885025024414</real>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>52054</integer>
					<key>Points</key>
					<array>
						<string>{414.22382693937084, 1187.3722742273046}</string>
						<string>{416.7214889788097, 1194.3230568599674}</string>
						<string>{416.7214889788097, 1219}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>Pattern</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>52057</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>52055</integer>
					<key>Points</key>
					<array>
						<string>{420.02304256706606, 1179.208165119888}</string>
						<string>{432.836777098629, 1181.7117795874842}</string>
						<string>{452.05115908764486, 1182.0216889752726}</string>
						<string>{470.64572230282164, 1171.4847650616171}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>Pattern</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>52057</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>52057</integer>
					</dict>
					<key>ID</key>
					<integer>52056</integer>
					<key>Points</key>
					<array>
						<string>{360.008071172521, 1180.7105751450667}</string>
						<string>{373.02426542314504, 1160.0181224422824}</string>
						<string>{386.35036906068814, 1160.0181224422824}</string>
						<string>{394.88859323366529, 1166.1210024552156}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>Pattern</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>52059</integer>
						<key>Position</key>
						<real>0.47272738814353943</real>
					</dict>
				</dict>
				<dict>
					<key>AbsoluteRotation</key>
					<string>YES</string>
					<key>Bounds</key>
					<string>{{392.0361888532712, 1167.7658592700714}, {37.189126534631015, 19.214382042892687}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>52057</integer>
					<key>Rotation</key>
					<real>45</real>
					<key>Shape</key>
					<string>AdjustableArrow</string>
					<key>ShapeData</key>
					<dict>
						<key>ratio</key>
						<real>1</real>
						<key>width</key>
						<real>21</real>
					</dict>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>52059</integer>
					<key>Points</key>
					<array>
						<string>{360.008071172521, 1146.3821093795843}</string>
						<string>{360.008071172521, 1219}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>52064</integer>
					</dict>
					<key>ID</key>
					<integer>52060</integer>
					<key>Points</key>
					<array>
						<string>{415.48185096933071, 1043.8020925638771}</string>
						<string>{425.39895181255861, 1050.9300084830134}</string>
						<string>{426.63858936023706, 1060.2272901166707}</string>
						<string>{420.31967923640849, 1072.698836831139}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>Pattern</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>52066</integer>
						<key>Position</key>
						<real>0.46099290251731873</real>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>52065</integer>
						<key>Position</key>
						<real>0.50776052474975586</real>
					</dict>
					<key>ID</key>
					<integer>52061</integer>
					<key>Points</key>
					<array>
						<string>{410.3918048389657, 1099.6524398886904}</string>
						<string>{408.66384491889954, 1117.8704362453493}</string>
						<string>{418.12879308602663, 1134.6055431859345}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>Pattern</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>52064</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>52064</integer>
					</dict>
					<key>ID</key>
					<integer>52062</integer>
					<key>Points</key>
					<array>
						<string>{470.64572230282187, 1085.6398599153356}</string>
						<string>{457.0097092783588, 1076.9623970572554}</string>
						<string>{439.65478361086093, 1077.5822158328335}</string>
						<string>{429.73817472479374, 1082.1264899646992}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>Pattern</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>52067</integer>
						<key>Position</key>
						<real>0.47272738814353943</real>
					</dict>
					<key>ID</key>
					<integer>52063</integer>
					<key>Points</key>
					<array>
						<string>{401.52422140243374, 1093.4011473363432}</string>
						<string>{387.59000660836642, 1097.4164166513033}</string>
						<string>{375.5035405185015, 1096.7965978757254}</string>
						<string>{360.62788994636037, 1090.3730289856912}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>Pattern</key>
							<integer>2</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>52064</integer>
					</dict>
				</dict>
				<dict>
					<key>AbsoluteRotation</key>
					<string>YES</string>
					<key>Bounds</key>
					<string>{{392.65600762711034, 1080.9912212315824}, {37.189126534631029, 19.214382042892694}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>52064</integer>
					<key>Rotation</key>
					<real>135</real>
					<key>Shape</key>
					<string>AdjustableArrow</string>
					<key>ShapeData</key>
					<dict>
						<key>ratio</key>
						<real>1</real>
						<key>width</key>
						<real>21</real>
					</dict>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>52065</integer>
					<key>Points</key>
					<array>
						<string>{376.74317806617944, 1134.6055431859345}</string>
						<string>{458.24934682603651, 1134.6055431859345}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>StickArrow</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>52066</integer>
					<key>Points</key>
					<array>
						<string>{375.19363113158226, 1043.8020925638771}</string>
						<string>{462.5880782429125, 1043.8020925638771}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>StickArrow</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>52067</integer>
					<key>Points</key>
					<array>
						<string>{360.62788994636037, 1059.6074713410937}</string>
						<string>{360.62788994636037, 1124.6884427766981}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.799925</string>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{292, 87}, {601, 601}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>52014</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>ManualSizeImage</key>
					<string>YES</string>
					<key>Offset</key>
					<string>{-0.077785150452990046, -0.061938437711806578}</string>
					<key>Scale</key>
					<real>4.4407548904418945</real>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>image fill</key>
						<dict>
							<key>ImageSizing</key>
							<integer>0</integer>
							<key>Offset</key>
							<string>{-0.077785150452990046, -0.061938437711806578}</string>
							<key>Scale</key>
							<real>4.4407548904418945</real>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>2</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 1</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {1118, 783}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>BaseZoom</key>
			<integer>0</integer>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{817, 447}, {124, 124}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>62</integer>
					<key>ImageID</key>
					<integer>49</integer>
					<key>ManualSizeImage</key>
					<string>YES</string>
					<key>Offset</key>
					<string>{0.23665636034735921, -0.12953495239695326}</string>
					<key>Scale</key>
					<real>0.61940234899520874</real>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>image fill</key>
						<dict>
							<key>ImageSizing</key>
							<integer>0</integer>
							<key>Offset</key>
							<string>{0.23665636034735921, -0.12953495239695326}</string>
							<key>Scale</key>
							<real>0.61940234899520874</real>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{341, 183}, {124, 124}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>60</integer>
					<key>ImageID</key>
					<integer>44</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{221, 168}, {64, 21}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>YES</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>FontInfo</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>a</key>
									<string>0</string>
									<key>b</key>
									<string>0</string>
									<key>g</key>
									<string>0</string>
									<key>r</key>
									<string>0</string>
								</dict>
							</dict>
							<key>ID</key>
							<integer>57</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Pad</key>
								<integer>0</integer>
								<key>RTFD</key>
								<data>
								BAtzdHJlYW10
								eXBlZIHoA4QB
								QISEhBJOU0F0
								dHJpYnV0ZWRT
								dHJpbmcAhIQI
								TlNPYmplY3QA
								hZKEhIQITlNT
								dHJpbmcBlIQB
								KwdlTW9mbG9u
								hoQCaUkBB5KE
								hIQMTlNEaWN0
								aW9uYXJ5AJSE
								AWkDkoSWlgdO
								U0NvbG9yhpKE
								hIQHTlNDb2xv
								cgCUhAFjA4QC
								ZmYAAIaShJaW
								EE5TUGFyYWdy
								YXBoU3R5bGWG
								koSEhBdOU011
								dGFibGVQYXJh
								Z3JhcGhTdHls
								ZQCEhBBOU1Bh
								cmFncmFwaFN0
								eWxlAJSEBEND
								QFMCAISEhAdO
								U0FycmF5AJSZ
								DJKEhIQJTlNU
								ZXh0VGFiAJSE
								AkNmAByGkoSj
								ogA4hpKEo6IA
								VIaShKOiAHCG
								koSjogCBjACG
								koSjogCBqACG
								koSjogCBxACG
								koSjogCB4ACG
								koSjogCB/ACG
								koSjogCBGAGG
								koSjogCBNAGG
								koSjogCBUAGG
								hoEACIQEWzFm
								XYPNzEw9hpKE
								lpYGTlNGb250
								hpKEhIQGTlNG
								b250HpSZGIQF
								WzI0Y10GAAAA
								DgAAAP/+TQBv
								AG4AYQBjAG8A
								AACEAWYPmwCb
								AZsAmwCGhoY=
								</data>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf830
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Monaco;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
{\*\expandedcolortbl;;\csgray\c0\c0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs30 \cf2 eMoflon}</string>
								<key>VerticalPad</key>
								<integer>0</integer>
								<key>alpha</key>
								<array>
									<array>
										<integer>0</integer>
										<integer>7</integer>
										<real>0.0</real>
									</array>
								</array>
							</dict>
							<key>Wrap</key>
							<string>NO</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{191, 76}, {124, 124}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>b</key>
									<string>1</string>
									<key>g</key>
									<string>1</string>
									<key>r</key>
									<string>1</string>
								</dict>
							</dict>
							<key>ID</key>
							<integer>59</integer>
							<key>ImageID</key>
							<integer>41</integer>
							<key>ManualSizeImage</key>
							<string>YES</string>
							<key>Offset</key>
							<string>{0.041092136894153454, -0}</string>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
								</dict>
								<key>image fill</key>
								<dict>
									<key>ImageSizing</key>
									<integer>0</integer>
									<key>Offset</key>
									<string>{0.041092136894153454, -0}</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>56</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{183, 515}, {124, 124}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>12</integer>
					<key>ImageID</key>
					<integer>39</integer>
					<key>ManualSizeImage</key>
					<string>YES</string>
					<key>Offset</key>
					<string>{0, 0.067727742403607322}</string>
					<key>Scale</key>
					<real>0.23940077424049377</real>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>image fill</key>
						<dict>
							<key>ImageSizing</key>
							<integer>0</integer>
							<key>Offset</key>
							<string>{0, 0.067727742403607322}</string>
							<key>Scale</key>
							<real>0.23940077424049377</real>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{363, 396}, {124, 124}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>13</integer>
					<key>ImageID</key>
					<integer>40</integer>
					<key>ManualSizeImage</key>
					<string>YES</string>
					<key>Offset</key>
					<string>{0.028047204942113158, -0}</string>
					<key>Scale</key>
					<real>0.58800548315048218</real>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>image fill</key>
						<dict>
							<key>ImageSizing</key>
							<integer>0</integer>
							<key>Offset</key>
							<string>{0.028047204942113158, -0}</string>
							<key>Scale</key>
							<real>0.58800548315048218</real>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{24, 208}, {124, 124}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>10</integer>
					<key>ImageID</key>
					<integer>42</integer>
					<key>ManualSizeImage</key>
					<string>YES</string>
					<key>Offset</key>
					<string>{-0.62232628477484431, -0.19638226947632972}</string>
					<key>Scale</key>
					<real>0.49567025899887085</real>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>image fill</key>
						<dict>
							<key>ImageSizing</key>
							<integer>0</integer>
							<key>Offset</key>
							<string>{-0.62232628477484431, -0.19638226947632972}</string>
							<key>Scale</key>
							<real>0.49567025899887085</real>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{24, 396}, {124, 124}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>8</integer>
					<key>ImageID</key>
					<integer>43</integer>
					<key>ManualSizeImage</key>
					<string>YES</string>
					<key>Scale</key>
					<real>0.4306429922580719</real>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>image fill</key>
						<dict>
							<key>ImageSizing</key>
							<integer>0</integer>
							<key>Scale</key>
							<real>0.4306429922580719</real>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>2</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 2</string>
			<key>UniqueID</key>
			<integer>2</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UseEntirePage</key>
	<false/>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>1</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{324, 190}, {1674, 1053}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-218, -79}, {1554, 943}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>2</real>
			</array>
			<array>
				<string>Canvas 2</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
